/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: rgb(79, 0, 207);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 0, 0);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }